<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FreeCRM"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="com.crm.qa.pages.LoginPage"/>
<listEntry value="com.crm.qa.pages.RegisterPage"/>
<listEntry value="com.crm.qa.testcases.NewContactTestCase"/>
<listEntry value="com.crm.qa.testcases.ContactPageTest"/>
<listEntry value="com.crm.qa.testcases.HomePageTestCase"/>
<listEntry value="com.crm.qa.testcases.LoginTestCase"/>
<listEntry value="com.crm.qa.pages.ContactPage"/>
<listEntry value="com.crm.qa.pages.HomePage"/>
<listEntry value="com.crm.qa.util.TestUtil"/>
<listEntry value="com.crm.qa.pages.DealesPage"/>
<listEntry value="com.crm.qa.ExtendReport.ExtentReporterNG"/>
<listEntry value="com.crm.qa.base.TestBase"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
